<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Load properties file : sport.properties -->
	<context:property-placeholder location="classpath:sport.properties"/>
	
	<!-- Define dependency -->
	<bean id="myFortuneService" class="com.springdemo.HappyFortuneService"></bean>

    <!-- Define your beans here -->
    <!-- Scope : singleton/prototype/request/session/global-session -->
    <!-- singleton - return the same obj one on each call -->
    <!-- prototype - create new obj on each call -->
    <bean id="myCoach" class="com.springdemo.TrackCoach" scope="prototype">
    	<!-- Constructor Injection -->
    	<constructor-arg ref="myFortuneService"></constructor-arg>
    </bean>
    
    <!-- destroy and init method can be used to run some code -->
    <!-- Note: can't catch return value , can't get arguments-->
    <!-- Note: For "prototype" scoped beans, Spring does not call the destroy method -->
    
    <bean id="myCricketCoach" class="com.springdemo.CricketCoach"
    	init-method="doMySturtupStuff"
    	destroy-method="doMyCleanStuff">
    	<!-- Define setter injection -->
    	<!-- The name of the setter have to match + 'set' (setFortuneService) -->
    	<property name="fortuneService" ref="myFortuneService"></property>
    	
    	<!-- ref is for object | value is for literal value -->
    	<!-- The name of the setter have to match + 'set' (setEmail, setTeam) -->
    	<property name="email" value="${foo.email}"></property>
    	<property name="team" value="${foo.team}"></property>
    </bean>
    
    
</beans>





